* {
  padding: 0;
  margin: 0;
  background-color: lightgrey;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  border-radius: 4px;
}
.navBar ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  border-bottom-style: outset;
}
.navBar li {
  margin: 24px;
  font-weight: bolder;
}
.navBar a {
  text-decoration: none;
}

.Layout button {
  margin: 0px 56px;
  width: 150px;
  height: 36px;
  border: none;
  background-color: white;
  font-weight: 700;
}

table,
td,
th {
  border: 1px solid;
  border-radius: 0%;
}
table {
  border-collapse: collapse;
  width: 600px;
}
.table {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
